extends base

block content
  main.main
      .container.posts-page 
        .row     
          each post in posts
            -if(user&&post.poster&&JSON.stringify(user._id)===JSON.stringify(post.poster._id))  
              .col-lg-3.col-md-6.col-sm-6
                .card.imgsContainer.cardImgs.mr-3.mb-5 
                  img.card__picture-img.card-img-top.bd-placeholder-img(src=`/img/${post.cover}`, alt=`${post.title}`)
                  .card-body
                    .card-title.gameJumboTitle
                      span=post.title
                      h4.card__sub-heading= post._id.toString()           
                    a.btn.btn--green.btn--small#btn-edit(href=`/posts/${post._id}/edit`) Edit  
                    a.btn.btn--green.btn--small.btn-del-post#btn-del(data-postId=post._id) Delete
                    a.btn.btn--green.btn--small(href=`/posts/${post._id}`) Details
            -if(user&&post.poster&&JSON.stringify(user._id)!==JSON.stringify(post.poster._id))  
              .col-lg-3.col-md-6.col-sm-6
                .card.imgsContainer.cardImgs.mr-3.mb-5  
                  img.card__picture-img.card-img-top.bd-placeholder-img(src=`/img/${post.cover}`, alt=`${post.title}`)
                  .card-body
                    .card-title.gameJumboTitle
                      span=post.title
                      h4.card__sub-heading= post._id.toString()    
                    -if(user.role==="admin")    
                      a.btn.btn--green.btn--small.btn-del-post#btn-del(data-postId=post._id) Delete
                    a.btn.btn--green.btn--small(href=`/posts/${post._id}`) Details
            -if(!user)  
              .col-lg-3.col-md-6.col-sm-6
                .card.imgsContainer.cardImgs.mr-3.mb-5  
                  img.card__picture-img.card-img-top.bd-placeholder-img(src=`/img/${post.cover}`, alt=`${post.title}`)
                  .card-body
                    .card-title.gameJumboTitle
                      span=post.title
                      h4.card__sub-heading= post._id.toString()    
                    a.btn.btn--green.btn--small(href=`/posts/${post._id}`) Details
